h1 {
    font-size: 28pt;
}

body {
    font-family: 'News Cycle', sans-serif;
    background-color: #ffffff;
    margin: 0;
}

img {
    width: 200px;
}

input {
    margin-left: 15px;
    padding-left: 15px;;
    font-family: 'News Cycle', sans-serif;
    font-size: 20pt;
    border-radius: 5px;
    border: none;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

input:focus {
    outline: none;
}

button {
    font-family: 'News Cycle', sans-serif;
    font-size: 20pt;
    background-color: #EB6E4B;
    border-radius: 5px;
    border: none;
    color: white;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
    background-color: #fca68e;
}

button:active {
    box-shadow: none;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}

#content-div {
    width: 400px;
    height: 600px;
    background-color: #236287;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    -webkit-box-shadow: 0 35px 20px #777;
    -moz-box-shadow: 0 35px 20px #777;
    box-shadow: 0 35px 20px #777;
}

#content-div-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#content-div-bottom {
    width: 375px;
}

#location-name {
    font-size: 40pt;
}

#temperature {
    font-size: 40pt;
    margin-top: 10px;
}

#content-div-high-low {
    display: flex;
    justify-content: space-between;
    width: 80px
}

#message {
    margin-top: 100px;
}

@media all and (max-height: 850px){
    #title{
        font-size: 18pt;
    }
    #message {
        margin-top: 50px;
    }
    #content-div {
        height: 550px;
    }
    #location-name {
        font-size: 36pt;
    }
    
    #temperature {
        font-size: 36pt;
    }
    img {
        width: 175px;
    }
}
@media all and (max-width: 500px){
    #content-div {
        width: 90%;
    }
}
