h1 {
    font-size: 28pt;
}

body {
    font-family: 'News Cycle', sans-serif;
    background-color: #ffffff;
    margin: 0;
}

img {
    width: 200px;
}

input {
    margin-left: 1vh;
    padding-left: 2vh;;
    font-family: 'News Cycle', sans-serif;
    font-size: 20pt;
    border-radius: 5px;
    border: none;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

input:focus {
    outline: none;
}

button {
    font-family: 'News Cycle', sans-serif;
    font-size: 20pt;
    background-color: #EB6E4B;
    border-radius: 5px;
    border: none;
    color: white;
    /* border-width: .5px; */
    /* border: solid; */
    /* border-color: black; */
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

button:focus {
    outline: none;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}

#content-div {
    width: 35vh;
    height: 50vh;
    background-color: #236287;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    -webkit-box-shadow: 0 35px 20px #777;
    -moz-box-shadow: 0 35px 20px #777;
    box-shadow: 0 35px 20px #777;
}

#content-div-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#location-name {
    font-size: 40pt;
}

#temperature {
    font-size: 40pt;
    margin-top: 10px;
}

#content-div-high-low {
    display: flex;
    justify-content: space-between;
    width: 6vh;
}

#message {
    margin-top: 100px;
}

@media all and (max-height: 1250px){
    #content-div{
        width: 38vh;
        height: 53vh;
    }
}

@media all and (max-height: 1150px){
    #content-div{
        width: 42vh;
        height: 57vh;
    }
}

@media all and (max-height: 1050px){
    #content-div{
        width: 46vh;
        height: 61vh;
    }
}

@media all and (max-height: 950px){
    #content-div{
        width: 50vh;
        height: 65vh;
    }
}

@media all and (max-height: 850px){
    #content-div{
        width: 55vh;
        height: 69vh;
    }
}

@media all and (max-height: 800px){
    #content-div{
        width: 60vh;
        height: 78vh;
    }
    #title{
        font-size: 22pt;
    }
    #location-name {
        font-size: 32pt;
    }
}

@media all and (max-height: 650px){
    #content-div{
        width: 65vh;
        height: 85vh;
    }
}

@media all and (max-height: 650px){
    #content-div{
        width: 65vh;
        height: 85vh;
    }
    #title{
        font-size: 18pt;
    }
    #location-name {
        font-size: 28pt;
    }
    #temperature {
        font-size: 30pt;
    }
    /* #content-div-bottom {
        width: 100%;       
    } */
}

